#sidebar {
  box-shadow: 1px 0px 2px #f0f0f0;
  height: 100% !important;
}

#sidebar button,
#sidebar li {
  color: #707070;
}

#sidebar i {
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  color: black;
}

#sidebar .list-group-item {
  border: none;
  padding: 0 10px;
  border-left: 8px solid transparent;
  max-height: 40px;
  min-height: 40px;
  margin-bottom: 10px;
}

.active-organization {
  border-left: 8px solid #707070 !important;
}

.organization-logo,
.squared-btn {
  height: 40px;
  width: 40px;
  padding: 0;
  cursor: default !important;
}

.squared-btn {
  width: 200px !important;
  text-align: left !important;
}

.organization-logo {
  height: 38px;
  width: 38px;
  border: 1px solid #adadad;
  border-radius: 0;
  margin-right: 8px;
  font-weight: bold;
}

#sidebar-bottom {
  position: absolute;
  bottom: 0;
}

#sidebar .list-group-item {
  font-size: 20px;
}

#add-strategy {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.modal {
  width: 100%;
  margin: 0 auto;
}

.cancel-button {
  margin-left: 240px;
}
