#process-add-form button {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.select-in-program > div > div {
  border-radius: 0 !important;
  border: 1px solid #adadad !important;
  box-shadow: none !important;
}

.input-range__track--active {
  background-color: rgb(66, 134, 244) !important;
}

.input-range__slider {
  background-color: rgb(66, 134, 244) !important;
  border-color: rgb(66, 134, 244) !important;
}
