@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif !important;
}

.text-color-primary {
  color: #707070 !important;
}

.text-color-secondary {
  color: #adadad !important;
}

/* .btn {
  color: #707070;
  background-color: white !important;
  width: 100% !important;
  border: 1px solid #adadad !important;
  border-radius: 0 !important;
  box-shadow: 2px 2px 2px #adadad !important;
  text-transform: uppercase;
}

.btn:hover {
  color: white !important;
  background-color: #707070 !important;
} */
