.view {
  position: relative;
}

#section1 {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: white;
}

#section2 {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #adadad;
}
