@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 4;
  }
}

#main i {
  color: black !important;
}

#main-bar {
  box-shadow: 0px 2px 0px #f1f1f1;
  padding: 15px 0;
}

.strategy {
  border-radius: 0;
  height: 200px;
}

.strategy .primary-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.strategy .card-text {
  height: 80px;
  max-height: 80px;
  text-overflow: ellipsis;
}

.card-title {
  position: relative;
}

.date-strategy {
  position: absolute;
  right: 0;
  bottom: 0;
}

#filter-strategy-panel .input-group {
  width: 300px;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

#filter-strategy-panel .input-group-text {
  border-radius: 0;
}
