#sidebar {
  box-shadow: 1px 0px 2px #f0f0f0;
  position: fixed;
  bottom: 0;
  padding-top: 86px !important;
  padding-right: 0 !important;
}

#sidebar button,
#sidebar li {
  color: #707070;
}

#sidebar i {
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  color: black;
}

#sidebar .list-group-item {
  border: none;
  padding: 0 10px;
  border-left: 5px solid transparent;
  max-height: 40px;
  min-height: 40px;
}

.active-organization {
  border-left: 5px solid rgba(66, 134, 244, 0.5) !important;
  background-color: rgba(66, 134, 244, 0.1);
}

.organization-logo,
.squared-btn {
  height: 40px;
  width: 40px;
  padding: 0;
  cursor: default !important;
}

.squared-btn {
  width: 150px !important;
  text-align: left !important;
}

.organization-logo {
  height: 38px;
  width: 38px;
  border: 1px solid #adadad;
  border-radius: 0;
  margin-right: 5px;
  font-weight: bold;
}

#sidebar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 15px;
}

#sidebar-bottom a {
  line-height: 40px;
  color: #707070;
}

#sidebar-bottom a:hover {
  text-decoration: none;
  color: #707070;
}

#sidebar-top .list-group-item:hover,
#sidebar-bottom .list-group-item:hover {
  background-color: rgba(66, 134, 244, 0.1);
  cursor: pointer;
}
